// https://bit.ly/3aI9YSD - universal box-sizing with inheritance.
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;

  // https://mzl.la/2KnTfHh
  // size/line-height | family
  font: 16px 'Open Sans', Arial, Helvetica, sans-serif;
}

/*
  Add your custom global styles here.
  The styles provided below are a minimal suggested starting point.
*/
