# If cloning this repo, this file can be renamed to .env.development
# This example file is meant to be checked into the repo to showcase what the
# expected env variables are.


# Port for the dev server
PORT=9001

# Explicitly set the environment.
NODE_ENV=development
