/*
  https://ui.shadcn.com/docs/theming

  To add a custom color
  1. Declare a variable in :root and .dark with whatever color values you want
  2. Declare a variable in theme below, prefixed with `--color-` with the value
     of the variable you created for :root and .dark
*/

:root {
  --success: oklch(0.648 0.177 163.12);
}

.dark {
  --success: oklch(0.647 0.186 151.975);
}

@theme inline {
  --color-success: var(--success);
}
